$icomoon-font-family: "jzmoz" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-down: unquote('"\\e908"');
$icon-chevron-up: unquote('"\\e909"');
$icon-x-lg: unquote('"\\e906"');
$icon-filter-left: unquote('"\\e907"');
$icon-arrow-left-short: unquote('"\\e904"');
$icon-arrow-right-short: unquote('"\\e905"');
$icon-arrow-left: unquote('"\\e902"');
$icon-arrow-right: unquote('"\\e903"');
$icon-dash-circle: unquote('"\\e900"');
$icon-plus-circle: unquote('"\\e901"');

