@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.backdrop {
  display: none;
  background: rgba($text-color, .6);
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  &.active {
    display: block;
  }
}