@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.breadcrumbs {
  font-size: 0.75rem;
  color: $muted-color;
  align-items: center;
  display: flex;
  gap: map-get($sizes, xs);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    font-size: inherit;
    color: $text-color;
    text-decoration: none;
  }
}
