@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.header {
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.05));
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 2;

  &.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease;
  }

  &__container {
    display: flex;
    align-items: center;
    height: calc(map-get($sizes, xxl) + map-get($sizes, s)); 
    @include responsive-container();
    @include mq(md) {
      height: 100%;
    }
    &::after {
      content: '';
      background: $primary-color;
      width: 7rem;
      position: absolute;
      height: 100%;
      z-index: 0;
      display: flex;
      box-shadow: -7rem 0px 0 $primary-color, -14rem 0px 0 0 $primary-color, -21rem 0px 0 0 $primary-color, -28rem 0px 0 0 $primary-color, -35rem 0px 0 0 $primary-color, -42rem 0px 0 0 $primary-color, -49rem 0px 0 0 $primary-color;
      transform: skewX(-30deg);
    }
  }

  &__top {
    background: $white-color;
    @include mq(md) {
      height: map-get($sizes, xxxl);
    }
  }

  &__menu-icon {
    line-height: 1;
    text-align: right;
    width:  map-get($sizes, l);
    height: map-get($sizes, l);
    position: relative;
    margin-left: auto;
    cursor: pointer;
    span {
      background: $secondary-color;
      display: block;
      width: map-get($sizes, l);
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transition: 0.5s;
      &.line-one {
        transform: translateY(-8px);
      }
      &.line-two {
        transform: translateY(4px);
      }
    }
    &.active {
      span {
        &.line-one {
          transform: rotate(45deg) translateY(0);
        }
        &.line-two {
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
    @include mq(md) {
      display: none;
    }
    &.hide {
      display: none;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    &:hover {
      span:after {
        background: rgba(0, 0, 0, 0.7);
      }
    }
    &-text {
      font-family: var(--font-logo);
      color: $text-color;
      font-size: 1rem;
      position: relative;
      gap: .65rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      span {
        color: $white-color;
        position: relative;
        font-size: 1.25rem;
        &::after {
          content: '';
          background: $text-color;
          width: 2.25rem;
          position: absolute;
          height: 2.25rem;
          left: -.5rem;
          z-index: -1;
          top: -.5rem;
          border-radius: .25rem;
          transition: all .1s linear;
          @include mq(md) {
            height: 2rem;
            top: -.25rem;
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

}
