@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.sidebar {
  &__float {
    position: fixed;
    width: 100%;
    background: rgba($white-color, .95);
    margin: auto;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem;
    transition: transform .3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    z-index: 1;
    &.hidden {
      transform: translate(-50%, -5rem);
      + .sidebar__widget {
        top: 3rem;
        height: calc(100svh - 3rem);
        @include mq(lg) {
          top: 0;
          height: auto;
        }
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      gap: map-get($sizes, m);
      height: 100%;
      @include responsive-container()
    }
    &.active {
      .icon-filter-left:before { 
        content: "\e906";
      }
    }
    @include mq(lg) {
      display: none;
    }
  }

  aside {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }

  &__widget {
    position: fixed;
    width: 80svw;
    background: $white-color;
    margin: auto;
    left: -100%;
    height: calc(100svh - 7rem);
    transition: left .3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    top: 6.5rem;
    overflow-y: auto;
    z-index: 1;

    @include mq(lg) {
      position: static;
      width: auto;
      height: auto;
      border: 4px solid $secondary-color;
      @include box-shadow-site();
    }

    &.active {
      left: 0;
    }

    .menu {
      padding: 0 map-get($sizes, l);
      list-style: none;
      @include mq(lg) {
        padding: 0;
        margin: 0;
      }
    }
  
    .sub-menu {
      list-style: none;
      padding: 0;
      margin-top: map-get($sizes, s);
      @include mq(lg) {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }
      > li {
        border-bottom: 1px solid $border-color;
        position: relative;
        &:last-child {
          border-bottom: none;
        }
        &.current-menu-item {
          a {
            @include mq(lg) {
              background: rgba($secondary-color, 0.02);
            }
            &::after {
              @include mq(lg) {
                content: '';
                left: 0;
                width: map-get($sizes, xs);
                height: 100%;
                background: $success-color;
                display: flex;
                position: absolute;
                top: 0;
              }
            }
          }
        }
      }
      a {
        text-decoration: none;
        font-size: .9rem;
        color: $text-color;
        line-height: 2.5;
        display: block;
        @include mq(lg) {
          line-height: 1.5;
          padding: map-get($sizes, s) map-get($sizes, l);
          transition: background .2s ease-out;
          &:hover {
            background: rgba($secondary-color, 0.02);
          }
        }
      }
    }
  
    .menu > .menu-item {
      margin-bottom: map-get($sizes, m);
      @include mq(lg) {
        margin-bottom: map-get($sizes, xs);
        &.active {
          margin-bottom: 0;
        }
        &.active {
          .sub-menu {
            transition: all .3s ease-out;
          }
          a:not([href]) {
            color: $white-color;
            background: $secondary-color;
            &::after {
              content: "\e909";
            }
          }
        }
      }

    }

    a:not([href]) {
      font-weight: 600;
      font-size: .95rem;
      @include mq(lg) {
        font-size: 1rem;
        line-height: 1.35;
        font-weight: 700;
        background: $tertiary-color;
        display: block;
        position: relative;
        padding: map-get($sizes, s) map-get($sizes, l);
        padding-right: map-get($sizes, xxl);
        cursor: pointer;
        &::after {
          content: "\e908";
          font-family: 'jzmoz';
          position: absolute;
          right: 1rem;
          font-weight: 100;
          display: flex;
          align-items: center;
          height: 100%;
          top: 0;
        }
      }
    }

  }
}