.wp-block-image {
  margin-bottom: 2rem;
  &.size-full {
    max-width: 100%;
  }
  &.size-full img {
    max-width: 100%;
    border-radius: .5rem;
  }
}

.image-left {
  border-radius: 4px;
  float: left;
  margin-right: 1rem;
}

pre.wp-block-code.consola {
  margin: -1.75rem 0 1rem;
  position: relative;
  z-index: 0;
  code {
    border-radius: .75rem;
    padding: .5rem 1rem;
    font-size: .85rem;
    color: #4b4b4b;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
}

hr.wp-block-separator {
  margin-bottom: 1rem;
}

:root :where(hr.wp-block-separator.is-style-dots) {
  text-align: left;
  &::before {
    font-family: 'Cairo';
    font-size: 1.75rem;
    letter-spacing: .75rem;
    padding-left: 0;
  }
}

table {
  tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.wp-block-table td, .wp-block-table th {
  border: none;
  padding: .5rem 1rem;
  vertical-align: middle;
}

ol.wp-block-list,
ul.wp-block-list {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  li {
    margin-bottom: .5rem;
  }
}

ul.wp-block-list {
  padding-left: 1.5rem;
}

ol.wp-block-list {
  padding-left: 2rem;
}

ol.wp-block-list li::marker {
  font-size: 90%;
  font-weight: 700;
}

ol.wp-block-list li::marker {
  content:"{" counter(list-item)"}: ";
}

ul.wp-block-list li::marker {
  font-size: 90%;
  font-weight: 700;
}

ul.wp-block-list li::marker {
    font-size: 1.75rem;
    color: #f0db4f;
    line-height: 0;
}