@use './fonts';
@use "../../icons/style" as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

:root {
  --base: 16px;
  --scale-factor: .20;
  --rhythm: 22px;

  --font-family-title: "Cairo", sans-serif;
  --font-family: "Inter", sans-serif;
  --font-logo: "Aclonica", sans-serif;
  --font-icons: "jzmoz";

  @include mq(md) {
    --base: calc(10px + 0.50vw);
    --rhythm: calc(24px + .5vw);
    --scale-factor: .30;
  }
  @include mq(xl) {
    --base: 17px;
    --rhythm: 27px;
  }
}

body {
  font-family: var(--font-family);
  font-weight: $font-weight-regular;
  margin: 0;
  color: $text-color;
  font-size: calc( var(--base) + (var(--base) * var(--scale-factor) * var(--font-increase, 0)));
  line-height: calc(var(--rhythm) + (var(--rhythm) * var(--rhythm-increase, 0)));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-size: calc( var(--base) + (var(--base) * var(--scale-factor) * var(--font-increase, 0)));
  line-height: calc(var(--rhythm) + (var(--rhythm) * var(--rhythm-increase, 0)));
  margin: 0 0 var(--rhythm);
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}

p {
  margin-top: 0;
  margin-bottom: var(--rhythm);
}

h1 {
  --font-increase: 3.6;
  --rhythm-increase: .40;
}
h2 {
  --font-increase: 2.4;
  --rhythm-increase: .32;
}
h3 {
  --font-increase: 1.6;
  --rhythm-increase: .3;
}

h4 {
  --font-increase: 1.4;
  --rhythm-increase: .3;
}

h5 {
  --font-increase: 1;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
